{{#each games}}
<div class='game'>
  <div class='dire team'>
    <h2>Dire Team Name Placeholder</h2>
    <h2>{{scoreboard.radiant.score}}</h2>
    <div class='heroes'>
    {{#each scoreboard.radiant.players}}
      <span>{{hero_id}}</span> &nbsp;
    {{/each}}
    </div>
  </div>
  <div class='game-info'>
    <h2>VS.</h2>
    <h2>{{printTimer scoreboard.duration}}</h2>
  </div>
  <div class='radiant team'>
    <h2>Radiant Team Name Placeholder</h2>
    <h2>{{scoreboard.dire.score}}</h2>
    <div class='heroes'>
    {{#each scoreboard.dire.players}}
      <span>{{hero_id}}</span> &nbsp;
    {{/each}}
    </div>
  </div>
</div>
{{/each}}
